.inner-page-cover{
    background-image: url('../images/about1.jpg');
    background-repeat: no-repeat;
}
.font-weight-light{
    font-weight: 600!important;
text-shadow: -1px -2px 5px #8e929c!important;
}

.font-light{
    text-shadow: 2px 1px 2px #8e929c!important;}



.site-blocks-cover.inner-page-cover, .site-blocks-cover.inner-page-cover .row
{
    min-height: 478px!important;}
    .home{
        font-size: 19px;
    color: black;
    font-weight: 600;

    }
  
    
    
    .btn-primary{
        background-color:#809fff!important;
    }
    .icon-arrow_back{
color:darkblue
    }
    .icon-arrow_forward{
        color:darkblue
    }
    