.login-page{
    background-image:url('../images/airport.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-box{
    background-color: #fff;
    color: #666;
    padding: 5px 4%;
    margin-top: 3%;
    opacity: .8;
}

.btn-primary{
    background-color:  #809fff!important;
    border-color: #809fff!important;
    width: 50%;
 }
 
 .register{
     font-size: 22px;
 }
 .end_section{
 color:  #809fff!important;
 }
 .end_section:hover{
    color:darkblue!important;
text-decoration: none;
}
@media (max-width: 725px)  {
    .login_logo{
        font-size: 20px;
    
    }


.btn-flat{
    font-size: 10px;
    width: 100%;
}}