.bg-light-header
{background-color: #809fff!important;}
.nav-link{
    color:#ebebe0 !important;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    margin-top: 7%;
}

.log_in{
    font-size: 15px!important;
    margin-top: 2%!important;
}
.carousel-inner {
    position: relative;
    margin-left: -4%;
    width: 105%;
    overflow: hidden;}
.btn-primary{
    background-color: #809fff!important;
    border-color:#809fff!important;
    width: 32%;
    margin-top: 2%;
}
.btn-primary:hover{
    border-color:#809fff!important;

}

.card{
display: none;
}

.search{
    font-weight: 600!important;
    font-size: 15px;
}
.icon{
    padding: inherit;
    padding-right: 7px;
}
.black-text{
    font-size:large ;
    font-weight: 600;
}
.searchcontent{
    padding-top: 19%;
    color: 	 #1a1a1a;
}

.navLink{
    list-style: none!important;
    display: flex!important;

margin-top: 5px!important;
}
.carousel{
  margin-right: -2px;
}

.carousel1{
    background-image: url('https://happytravel.com/images/carasoul1.jpg')  ;
    background-attachment: fixed;
    background-size:cover ;
    background-position: bottom;
    padding-bottom:80px;
}
.carousel2{
    background-image: url('https://happytravel.com/images/carasoul2.jpg');
    background-attachment: fixed;
    background-size:cover ;
    background-position: bottom;
    opacity: .7;
}
.carousel3{
    background-image: url('https://happytravel.com/images/carasoul3.jpg');
    background-attachment: fixed;
    background-size:cover ;
    background-position: top;
    opacity: .7;

}
.details{
    border: 2px dashed #ebebe0 ;
    border-radius: 8px;
    font-size: 15px;
    color: #1a1a1a;
    margin-top: 12%;
    padding-left: 12px;
    font-family: serif;
}
.icons{
    color: #809fff!important;
}
@media (max-width: 768px)  {
    .searchcontent{
       font-size: 20px;
    }
   .btn-group{
       margin-top: 10%;
   }
   .carousel{
    margin-right: -9px!important;
   }
    .search{
        height: 100%;
        align-self: center;
        margin-top: 10px;

    }
    .form-group{
        margin-top: 20px;

    }
    .blackplace{
        margin-top: 20px;

    }
    .card{
        height: 100%;
        margin-top: 10px;

    }

}




.wrap {
  margin:0 auto;
  text-align:left;
}


.box-data {
  float:left;
  text-align:center;
  border-left:1px solid #DDDCD8;
}
ul{
  list-style-type: none;
}

.top {
  background-color:#EAE9E4;
  height:75px;

}

.circle {
  width:60px;
  height:60px;
  border-radius:60px;
  font-size:20px;
  color:#fff;
  line-height:60px;
  text-align:center;
  background:#989A8F;
  margin-left: 67px;
    margin-top: -3px;
}

.bottom {
margin-top:50px;

     font-size:13px;
     font-family: 'Droid Serif', sans-serif;
     padding:5px;
     font-weight:bold;

}

.sign {
  margin-top:50px;
   padding: 10px 40px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
    font-size:17px;

   }
   .book{
     background-color: #809fff;
     border-radius: 12px;

   }
   .book:hover{
    background-color: #809fff!important;
    text-decoration: none;


   }



.white {
 color:#FFFFFF;
}
